<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1><%= @app %></h1>
            <h3>Bienvenido a <%= @app %>, la mejor aplicacion de carpooling</h3>
            <hr class="intro-divider">
            <h3 style="color: white;">Encuentra a <%= @app %> en: </h3>
            <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item">
                    <a href="https://twitter.com/runappUnal" class="btn btn-secondary btn-lg" target="_blank">
                        <button type="button" class="btn btn-md">
                            <%= image_tag("twitter.png", width: '25', height: '25', alt: 'twitter', class: "logo") %> Twitter
                        </button>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/FourWare/RUN" class="btn btn-secondary btn-lg" target="_blank">
                        <button type="button" class="btn btn-md">
                            <%= image_tag("github.png", width: '25', height: '25', alt: 'github', class: "logo") %> GitHub
                        </button>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/groups/MateriasyElectivasFacilesUN2.0/" class="btn btn-secondary btn-lg" target="_blank">
                        <button type="button" class="btn btn-md">
                            <%= image_tag("facebook.png", width: '25', height: '25', alt: 'facebook', class: "logo") %> Facebook
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; <%= @app %> 2017. All Rights Reserved</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="http://unal.edu.co/" target="_blank">Universidad Nacional de Colombia</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item" style="color:black;">
                        <% if user_signed_in? %>
                            <strong  style="text-transform: capitalize;"><%= current_user.name %> (<%= current_user.provider %>)</strong> |
                            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                            <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                            <li class="nav-item"><button class="btn btn-default" onclick="document.getElementById('myModal').style.display='block'">Entrar</button></li>
                            &middot;
                            <li class="nav-item"><button class="btn btn-default" onclick="document.getElementById('myModal2').style.display='block'">Registrarme</button></li>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>