<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>RunApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">

  <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
    <tr>
      <td align="center" bgcolor="#000000" style="padding: 40px 0 30px 0;">
        <%= image_tag("https://image.ibb.co/b8OK65/background_Email.jpg", alt: 'Creating Email Magic', width: '450', height: '230', style: "display: block;") %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 20px; line-height: 20px;">
              <b>¡Registro exitoso!</b>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px 0 20px 0;">
              Hola <b style="font-size: 20px;"><em><%= @name %></em></b>, te damos la bienvenida a RunApp. Tu registro fue exitoso.
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="260" valign="top">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                          <a href="https://run-app-miguelangelborja-1.c9users.io" target="_blank">
                            <%= image_tag("https://www.poweredbysearch.com/wp-content/uploads/2014/05/25LandngPageElements.png", alt: 'Home Page RunApp', width: '100%', height: '140', style: "display: block;") %>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 25px 0 10px 0; text-align: center;">
                          Encuentra más información en la página principal de RunApp.
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="font-size: 0; line-height: 0;" width="20">
                    &nbsp;
                  </td>
                  <td width="260" valign="top">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                          <a href="https://run-app-miguelangelborja-1.c9users.io/home/entrar" target="_blank">
                            <%= image_tag("http://www.psdgraphics.com/file/password-protected-icon.jpg", alt: 'Home Page RunApp', width: '100%', height: '140', style: "display: block;") %>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 25px 0 10px 0; text-align: center;">
                          Ingresa con tu nueva cuenta a lo que te ofrece RunApp.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
              También puedes seguir a &reg; RunApp en:
            </td>
            <td align="right">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <a href="https://github.com/FourWare/RUN" target="_blank">
                      <%= image_tag("http://www.freeiconspng.com/uploads/git-github-hub-icon-25.png", width: '38', height: '38', alt: 'github', style: "display: block;", border: "0") %>
                    </a>
                  </td>
                  <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                  <td>
                    <a href="https://twitter.com/runappUnal" target="_blank">
                      <%= image_tag("https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png", width: '47', height: '47', alt: 'twitter', style: "display: block;", border: "0") %>
                    </a>
                  </td>
                  <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                  <td>
                    <a href="https://www.facebook.com/groups/MateriasyElectivasFacilesUN2.0/" target="_blank">
                      <%= image_tag("https://cdn4.iconfinder.com/data/icons/miu-gloss-social/60/facebook-512.png", width: '35', height: '35', alt: 'facebook', style: "display: block;", border: "0") %>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>
</html>