<div class="container" style="overflow-y: auto;">
  <div class="modal-dialog">
    <div class="wthree-form" id="myModalRegister" style="width: 80%;">
	    <h2 style="text-align: center;">Cambia tu contraseña</h2>
	    <div class="w3l-login form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-sub-w3">
		        <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Contraseña', required: "" %>
          </div>
          <div class="form-sub-w3 form-group clearfix">
			      <%= f.password_field :password_confirmation, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Confirmación contraseña', required: "" %>
	      	</div>
          <div class="actions submit-agileits">
			      <%= f.submit "Cambiar contraseña", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', style: "width: 50%;" %>
					</div>
        <% end %>
			</div>
    </div>
  </div>
</div>