</br>
<div class="container" style="background-color: rgba(0,0,0,0.8)">
    <h2 style="text-align: center;">Editar perfil</h2>
  	<hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>
  	<div class="row">
        <div class="col-md-4">
          <div class="text-center">
            
            <% if current_user.avatar.present? == false %>
              <%= image_tag("default-avatar.jpg", width: '250', height: '250', class: 'image-circle') %>
            <% else %>
              <% @image.each do |image| %>
                <%= image_tag(image.avatar, width: '250', height: '250', class: 'image-circle') %>
              <% end %>
            <% end %>
            <em style="color: white; display: block;">Si deseas, cambia tu foto de perfil.</em>
  					<%= f.label :avatar, class: "carrier-wave-field" do %>
  					  <%= f.file_field :avatar %>
  		    		<%= f.hidden_field :avatar_cache %>
  		      <% end %>
          </div>
        </div>
        
        <div class="col-md-8 personal-info">
          <h3>Información personal</h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label"></br>Nick:</label>
                <div class="col-lg-9">
                  <%= f.text_field :nick, class: "form-control", id: 'usernameRegister', value: current_user.nick, autofocus: true, type: 'text', readonly: true, required: "" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label"></br>Nombre:</label>
                <div class="col-lg-9">
                  <%= f.text_field :name, class: "form-control", id: 'usernameRegister', value: current_user.name, autofocus: true, type: 'text', required: "" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label"></br>Carrera:</label>
                <div class="col-lg-9">
                  <%= f.text_field :career, class: "form-control", id: 'usernameRegister', value: current_user.career, autofocus: true, type: 'text', required: "" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label"></br>Teléfono:</label>
                <div class="col-lg-9">
                  <%= f.text_field :phone, class: "form-control", id: 'usernameRegister', value: current_user.phone, autofocus: true, type: 'number', min: 0 %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label">Fecha de nacimiento:</label>
                <div class="col-lg-9">
                  <%= f.text_field :date_of_birth, class: "form-control", id: 'usernameRegister', value: current_user.date_of_birth.strftime('%Y-%m-%d'), autofocus: true, type: 'date', required: "" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 control-label" style="border: dotted red;">Para cambiar tu contraseña, llena los siguientes espacios. <i>(Déjalo en blanco si no quieres cambiarla.)</label> </br>
              <div class="col-lg-12">
                <label class="col-lg-3 control-label">Nueva contraseña:</label>
                <div class="col-lg-9">
                  <%= f.password_field :password, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
  			        	<% if @minimum_password_length %>
  			        	  <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label class="col-lg-3 control-label">Confirmar nueva contraseña:</label>
                <div class="col-lg-9">
                  <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 control-label" style="border: dotted red;">Para confirmar tus cambios, ingresa tu contraseña actual.</label> </br>
              <div class="col-lg-12">
                <label class="col-lg-3 control-label">Contraseña actual:</label>
                <div class="col-lg-9">
                  <%= f.password_field :current_password, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                <%= f.submit "Guardar", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block', style: "width: 100%;" %>
              </div>
              <div class="col-lg-3">
                <%= link_to "/" do %>
                  <%= f.submit "Cancelar", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block', style: "width: 100%;" %>
                <% end %>
              </div>
              <div class="col-lg-3">
              </div>
            </div>
          </form>
        </div>
    </div>
  <% end %>
  <hr>
  <h3>Eliminar cuenta</h3>
  <p>¿Estás inconforme con RunApp? En el siguiente botón podrás eliminar tu cuenta. 
    <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete,  id: "submitRegister", class: "btn btn-primary", style: "width: 12em; font-size: 1em;" %>
  </p>
  <div class="alert alert-warning alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <i class="glyphicon glyphicon-alert"></i>
    <strong>¡Atención!</strong> Si eliminas tu cuenta se perderán todos tus datos.
  </div>
</div>