<div class="container" style="overflow-y: auto;" >
    <div class="modal-dialog">
        <div class="wthree-form" id="myModalRegister" style="width: 100%; background-color: rgba(0, 0, 0, 0.9)">
		    <h2 style="text-align: center; font-size: ">Regístrate</h2>
		    <div class="w3l-login form">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :multipart => true) do |f| %>
				    	<%= devise_error_messages! %>
				    	<br></br>
				    	<div class="form-sub-w3">
				    		<div class="row">
					    		<div class="col-sm-12 text-center">
						        	<em style="color: white; display: block;">Si deseas, escoge tu foto de perfil.</em>
						            <%= f.label :avatar, class: "carrier-wave-field" do %>
							    		<%= f.file_field :avatar, title: "Please choose file" %>
		    							<%= f.hidden_field :avatar_cache %>
		    						<% end %>
						       	</div>
					     	</div>
					     	<div class="row">
    							<div class="col-sm-6 form-sub-w3">
					        		<%= f.text_field :name, id: 'usernameRegister', autofocus: true, placeholder: 'Nombre', type: 'text', required: "", style: "width: 100%;" %>
			      				</div>
			      				<div class="col-sm-6 form-sub-w3">
			      					<%= f.text_field :nick, id: 'usernameRegister', autofocus: true, placeholder: 'Nick', type: 'text', required: "", style: "width: 100%;" %>
			      				</div>
					      	</div>
					     	<div class="row">
					      		<div class="col-sm-6 form-sub-w3">
					        		<%= f.text_field :career, id: 'usernameRegister', autofocus: true, placeholder: 'Carrera', type: 'text', required: "", style: "width: 100%;" %>
			      				</div>
					        	<div class="col-sm-6 form-sub-w3">
					        		<em style="color: white; display: block;">Fecha de nacimiento</em>
			      					<%= f.date_select :date_of_birth, { 
			      						:order => [:day, :month, :year], 
								    	:start_year => Time.now.year - 15, 
								    	:end_year => 1950, 
									    :prompt => {
									    	day: 'Día', month: 'Mes', year: 'Año'
									    }},
									    {:class => "form-control date-select"}
								 	%>
								 	<br></br>
			      				</div>
					    	</div>
					        <div class="row">
					        	<div class="col-sm-12 form-sub-w3">
		        					<%= f.email_field :email, id: 'usernameRegister', autofocus: true, placeholder: 'Correo', style: 'width: 100%;',  type: 'email', required: "" %>
					            </div>
					      	</div>
					        <div class="row">
					        	<div class="col-sm-12 form-sub-w3">
					            	<%= f.password_field :password, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Contraseña', style: 'width: 100%;',  required: "" %>
								    <% if @minimum_password_length %>
								    	<em style="color: red;">(<%= @minimum_password_length %> characters minimum)</em>
								    <% end %><br />
					            </div>
					        </div>
					        <div class="row">
					        	<div class="col-sm-12 form-sub-w3">
					            	<%= f.password_field :password_confirmation, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Confirmación contraseña', style: 'width: 100%;',  required: "" %>
								</div>
					        </div>
					        <div class="form-group">
					        	<hr>
					            <div class="actions submit-agileits">
			        				<%= f.submit "Registrarme", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', style: "width: 50%;" %>
								</div>
								<div class="devise-links", style: "width: 50%;">
			      					<%= link_to "¿Ya eres miembro de RunApp? Ingresa", new_session_path(resource_name) %><br />  
			      				</div>
					        </div>
					    </div>
	      			</div>
	      	  	<% end %>
		    </div>
		</div>
  	</div>    
</div>

	<!-- Footer -->
    <footer style="position: relative; bottom: -5%;  background-color: rgba(0,0,0,0.7);">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; <%= @app %> 2017. All Rights Reserved</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="http://unal.edu.co/" target="_blank" style="color:white">Universidad Nacional de Colombia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item" style="color:black;">
                            <% if user_signed_in? %>
                                <strong  style="text-transform: capitalize;"><%= current_user.name %> (<%= current_user.provider %>)</strong> |
                                <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                                <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            <% else %>
                            	<%= link_to "/home/entrar" do %>
                            		<li class="nav-item"><button class="btn btn-default">Entrar</button></li>
                            	<% end %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>