<div class="container" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="wthree-form" id="myModalRegister" style="width: 80%;">
		    <h2 style="text-align: center; font-size: ">Regístrate</h2>
		    <div class="w3l-login form">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				    <%= devise_error_messages! %>
				    <br></br>
				    <div class="form-sub-w3">
				    	<div class="row">
						    <div class="col-xs-6">
						    	<%= image_tag("default-avatar.jpg", class: "img-rounded", alt: "Default Avatar", width: "150", height:"136") %>
						    </div>
						    <div class="col-xs-6">
						    	<%= f.label :avatar, class: "carrier-wave-field", label: "S" do %>
						    		<%= f.file_field :avatar %>
	    							<%= f.hidden_field :avatar_cache %>
	    						<% end %>
	    					</div>
						</div>
        			</div>
				    <div class="form-sub-w3">
			        	<%= f.text_field :name, id: 'usernameRegister', autofocus: true, placeholder: 'Nombre', type: 'text', required: "" %>
			      	</div>
			      	<div class="form-sub-w3">
			        	<%= f.text_field :nick, id: 'usernameRegister', autofocus: true, placeholder: 'Nick', type: 'text', required: "" %>
			      	</div>
			      	<div class="form-sub-w3">
			        	<%= f.text_field :career, id: 'usernameRegister', autofocus: true, placeholder: 'Carrera', type: 'text', required: "" %>
			      	</div>
			      	<div class="form-sub-w3">
			      		<em style="color: white; display: block;">Fecha de nacimiento</em>
			      		<%= f.date_select :date_of_birth, { 
			      			:order => [:day, :month, :year], 
			      			:start_year => Time.now.year - 15, 
			      			:end_year => 1950, 
			      			:prompt => {
			      				day: 'Día', month: 'Mes', year: 'Año'
			      			}},
			      			{:class => "form-control date-select"}
			        	%>
			        	<br></br>
			      	</div>
				    <div class="form-sub-w3">
			        	<%= f.email_field :email, id: 'usernameRegister', autofocus: true, placeholder: 'Correo', type: 'email', required: "" %>
			      	</div>
			      	<div class="form-sub-w3 form-group clearfix">
		          		<%= f.password_field :password, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Contraseña', required: "" %>
			          	<% if @minimum_password_length %>
			            	<em style="color: red;">(<%= @minimum_password_length %> characters minimum)</em>
			          	<% end %><br />
				    </div>
			      	<div class="form-sub-w3 form-group clearfix">
			        	<%= f.password_field :password_confirmation, autocomplete: "off", type: 'password', id: 'passwordRegister', placeholder: 'Confirmación contraseña', required: "" %>
			      	</div>
			      	<div class="actions submit-agileits">
			        	<%= f.submit "Registrarme", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit' %>
					</div>
					<div class="devise-links">
			      		<%= link_to "¿Ya eres miembro de RunApp? Ingresa", new_session_path(resource_name) %><br />  
			      	</div>
		      	<% end %>
			</div>
		</div>
  	</div>    
</div>