</br>
<div class="container table" style="background-color: lightgray; padding: 1%; width: 60%;">
  <h1 style="color: #155892;">Rutas creadas por otros usuarios</h1>
  <p style="color: #155892;">Número de rutas: <%= @countRoutesFilter %></p>
  <% if @countOtherRoutes >= 2 %>
    <div class="col-xs-12" style="text-align: center; padding: 0%;">
      <div class="col-xs-1" style="text-align: left; padding: 0%;">
      </div>
      <form action="/rutas" method="get">
        <div class="col-xs-10" style="text-align: center; padding: 0%;">
          <div class="col-xs-6">
            <%= text_field_tag :sKeyWord, params[:sKeyWord], id: "searchInputKeyword", title: "Busca por palabra clave", style: "width: 100%; color: black;",placeholder: "Palabra clave, ej: unal", disabled: false %>
          </div>
          <div class="col-xs-6">
            <%= text_field_tag :sDate, params[:sDate],type: "date", id: "searchInputDate", title: "Busca por fecha", style: "width: 100%; color: black;", disabled: false %>
          </div>
          <div class="row" id="searchDiv">
            <%= text_field_tag :sCost, params[:sCost], id: "searchInputCost", title: "Busca por costo", style: "width: 50%; color: black;",placeholder: "buscar por costo, ej: 1000", disabled: false %>
            <%= text_field_tag :sCapacity, params[:sCapacity], id: "searchInputCapacity", title: "Busca por capacidad del vehiculo", style: "width: 50%; color: black;",placeholder: "capacidad del vehiculo, ej: 2", disabled: false %>
            <%= text_field_tag :sType, params[:sType], id: "searchInputType", title: "Busca por tipo de vehiculo", style: "width: 50%; color: black;",placeholder: "tipo de vehiculo, ej: carro", disabled: false %>
            <%= text_field_tag :sBrand, params[:sBrand], id: "searchInputBrand", title: "Busca por marca de vehiculo", style: "width: 50%; color: black;",placeholder: "Marca de vehiculo, ej: renault", disabled: false %>
            </br>  
            <button type="button" class="btn btn-link" id="btnRestart" style="color: black; font-size: 100%; padding-top: 3%;" onclick="restartSearch();">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <%= submit_tag "Buscar", class: "btn btn-default", style: "background: lightgreen;" %>
            </br>
          </div>
        </div>
      </form>
      <div class="col-xs-1">
      </div>
    </div>
    <br></br>
  <% end %>
  <table class="table table-striped table-bordered table-hover" style="border: solid black; ">
    <thead style="background-color: #373a3c; color: white;">
      <tr>
        <th style="text-align:center;">Ruta</th>
        <th style="text-align:center;" colspan="3">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td style="text-align:left; color: black; padding-top: 1%; padding-left: 3%">
            <h2 style="text-align:left;"><%= route.title %></h1>
            <p><b>Descripción:</b> <%= route.description %></p>
            <p><b>Creador:</b> <%= User.find(route.id_user).nick %></p>
          </td>
          <td style="text-align:center; color: black;">
            </br></br>
            <%= link_to 'Ver detalles', route %>
          </td>
      <% end %>
    </tbody>
  </table>
</div>
</br>

<div class="col-lg-3"></div>
<div class="col-lg-3">
  <%= link_to "/usuario/inicio" do %>
    <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Menú principal</button>
  <% end %>
</div>
<div class="col-lg-3">
  <%= link_to "/usuario/mis-rutas" do %>
    <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Mis rutas</button>
  <% end %>
</div>
<div class="col-lg-3"></div>

<p id="notice"><%= notice %></p>

<%= will_paginate @routes, 
  renderer: BootstrapPagination::Rails, 
  :previous_label => "Anterior",
  :next_label => "Siguiente" 
%>