</br>
<p id="notice"><%= notice %></p>

<div class="container" style="background-color: rgba(0,0,0,0.7)">
  <div class="row">
    <div class="col-md-6 personal-info">
      <br></br>
      <h3>Información de la ruta</h3>
      <br></br>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-lg-12">
            <label class="col-lg-3 control-label" style="text-align: left;">Título:</label>
            <div class="input-group col-lg-9">
              <span class="input-group-addon glyphicon glyphicon-tags" style="background-color: lightgreen"></span>
              <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="margin: 0%; border: none; width: 100%; text-align: center; resize: none;" ><%= @route.title %></textarea>
            </div>
          </div>
          <br></br>
          </br>
          <div class="col-lg-12">
            <label class="col-lg-3 control-label" style="text-align: left;"></br>Descripción:</label>
            <div class="input-group col-lg-9">
              <span class="input-group-addon glyphicon glyphicon-align-justify" style="background-color: lightgreen"></span>
              <textarea rows="2" class="form-control" id='usernameRegister' type='text' readonly='true' style="margin: 0%; border: none; width: 100%; text-align: left; resize: none;" ><%= @route.description %></textarea>
            </div>
          </div>
          <br></br>
          <br></br>
          <div class="col-lg-12">
            <label class="col-lg-3 control-label" style="text-align: left;">Creador:</label>
            <div class="input-group col-lg-9">
              <span class="input-group-addon glyphicon glyphicon-user" style="background-color: lightgreen"></span>
              <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="margin: 0%; border: none; width: 100%; text-align: center; resize: none;" ><%= User.find(@route.id_user).nick %></textarea>
            </div>
          </div>
          <br></br>
          </br>
          <div class="col-lg-12">
            <label class="col-lg-3 control-label" style="text-align: left;">Costo:</label>
            <div class="input-group col-lg-9">
              <span class="input-group-addon glyphicon glyphicon-usd" style="background-color: lightgreen"></span>
              <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="margin: 0%; border: none; width: 100%; text-align: center; resize: none;" ><%= @route.cost %></textarea>              
            </div>
          </div>
          <br></br>
          </br>
          <div class="col-lg-12">
            <label class="col-lg-3 control-label" style="text-align: left;">Salida:</label>
            <div class="input-group col-lg-9">
              <span class="input-group-addon glyphicon glyphicon-calendar" style="background-color: lightgreen"></span>
              <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="margin: 0%; border: none; width: 100%; text-align: center; resize: none;" ><%= @route.departure.strftime('%d %h %Y' + '- %H:%M') %></textarea>
            </div>
          </div>
          <% if @route.id_user == current_user.id %>
            </br></br></br>
            <div class="col-lg-12" style="border: solid white;">
              <h4>Usuarios unidos a la ruta</h4>
            </div>
          <% end %>
        </div>
      </form>
    </div>
    <br></br>
    </br>
    <div class="col-md-6 personal-info">
      <div class="col-lg-12" style="text-align: right;">
        <div class="input-group" style="width: 100%; margin: 0 auto; text-align: right;">
          <text>Cupos disponibles: <%= @route.spaces_available %></text>
          <% if @route.id_user != current_user.id %>
            - 
            <% if Route.checkUserInRoute(@route, current_user) %>
              <%= link_to "Salirme de esta ruta", 
                { :controller => "routes", :action => "updateSpacesAvailable", :id_route => @route.id, :id_user => current_user.id, :act => 'remove' },
                { :style => 'color: black; background-color: #F14040;', :class => 'btn btn-default' }  
              %>
            <% else %>
              <% if @route.spaces_available > 0 %>
                <%= link_to "Unirme a esta ruta", 
                  {:controller => "routes", :action => "updateSpacesAvailable", :id_route => @route.id, :id_user => current_user.id, :act => 'add'},
                  {:style => 'color: black; background-color: lightgreen;', :class => 'btn btn-default'} 
                %>
                </button>
              <% else %>
                <button type="button" class="btn btn-default" style="background: gray; color: white" disabled>Unirme a esta ruta</button>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <br></br>
      <div id="mapShow" style='width: 100%; height: 400px;'></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3>Información del Conductor</h3>
    <div class="col-md-8 personal-info">
      <form class="form-horizontal" role="form">
        <% @extraInfoRouteConductor.each do |info| %>
          <% if info.id == @route.id_user %>
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Nombre Conductor:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.name %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Email:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.email %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Carrera:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.career %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Teléfono:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.phone %></textarea>
              </div>
             
            </div>  
          <% end %>
        <% end %>
      </form>
    </div>
    <div class="col-md-4 personal-info">
      <br></br>
      <% @extraInfoRouteConductor.each do |info| %>
        <% if info.id == @route.id_user %>
          <div class="text-center">
            <% if info.avatar.present? == false %>
              <%= image_tag("default-avatar.jpg", width: '60%', height: '200', class: 'image-circle') %>
            <% else %>
              <%= image_tag(info.avatar, width: '60%', height: '200', class: 'image-circle') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br><br>
  <hr>
  
  
  
  <div class="row">
    <h3>Información del vehículo</h3>
    <div class="col-md-8 personal-info">
      <form class="form-horizontal" role="form">
        <% @extraInfoRoute.each do |info| %>
          <% if info.placa == @route.car_placa %>
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Placa:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.placa %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Tipo:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.tipo %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Marca:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.marca %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Modelo:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.modelo %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Color:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.color %></textarea>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-6 control-label" style="text-align: left;"></br>Capacidad:</label>
                <br></br>
                <textarea rows="1" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%; resize: none;" ><%= info.capacidad %></textarea>
              </div>
            </div>  
          <% end %>
        <% end %>
      </form>
    </div>
    <div class="col-md-4 personal-info">
      <br></br>
      <% @extraInfoRoute.each do |info| %>
        <% if info.placa == @route.car_placa %>
          <div class="text-center">
            <% if info.image.present? == false %>
              <%= image_tag("default-car.jpg", width: '100%', height: '250', class: 'image-circle') %>
            <% else %>
              <%= image_tag(info.image, width: '100%', height: '250', class: 'image-circle') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="form-group">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-3">
        <%= link_to "/usuario/inicio" do %>
          <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Menú principal</button>
        <% end %>
      </div>
      <div class="col-lg-3">
        <%= link_to "/usuario/mis-rutas" do %>
          <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Mis rutas</button>
        <% end %>
      </div>
      <div class="col-lg-3">
        <%= link_to "/rutas" do %>
          <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Otras rutas</button>
        <% end %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
</div>

<script type="text/javascript">
var mapStyle = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#6195a0"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#e6f3d6"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ff8605"
            },
            {
                "visibility": "simplified"
            },
            {
                "saturation": "0"
            },
            {
                "lightness": "30"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text",
        "stylers": [
            {
                "color": "#4e4e4e"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#f4f4f4"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#787878"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#eaf6f8"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#eaf6f8"
            }
        ]
    }
]
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();
var wayjson = (<%= raw @route.waypoints%>);
console.log(wayjson);
  var points = [];
for(var ii = 0 ; ii<wayjson.length;ii++){
  locat = new google.maps.LatLng(wayjson[ii].lat,wayjson[ii].lng);
  points.push({
            location: locat,
            stopover: false
          });
}
function calcRoute() {
  var origin    = new google.maps.LatLng(<%=@route.from_lat%>,<%=@route.from_lng%>);
  var destination = new google.maps.LatLng(<%=@route.to_lat%>,<%=@route.to_lng%>);

  //points.push(wayjson);
  var request = {
      origin:      origin,
      destination: destination,
      waypoints: points,
      travelMode:  google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      directionsDisplay.setMap(handler.getMap());
    }
  });
}

calcRoute();
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'mapShow'}, 
  provider : {
    zoom: 16,
    center: new google.maps.LatLng(4.635540,-74.082807),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: mapStyle
  }
  });




function a(){
    var val = $('#searchSelect').val();
    if(val != "all"){
        $("#searchInput").removeAttr('disabled');
        if(val == "type"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Carro, Moto, ...");
        }
        else if(val == "brand"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Renault, Mazda, ...");
        }
        else if(val == "color"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Rojo, Azul, ...");
        }
        else if(val == "capacity"){
            $("#searchInput").attr('type', 'number');
            $("#searchInput").attr('min', 1);
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. 3, 4, ...");
        }
        else if(val == "date"){
            $("#searchInput").attr('type', 'date');
            $("#searchInput").val("");
        }
        else if(val == "cost"){
            $("#searchInput").attr('type', 'number');
            $("#searchInput").attr('min', 100);
            $("#searchInput").attr('step', 100);
            $("#searchInput").val("");
        $("#searchInput").attr("placeholder", "ej. 2000, 1500, ...");
        }
        else if(val == "keyWord"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Calle 45, Universidad, ...");
        }
    }else{
        $("#searchInput").val("");
        $("#searchInput").attr('disabled','disabled');
        $("#searchInput").attr('placeholder','');
    }
}

function restartSearch(){
    var val = $('#searchSelect').val();
    if(val != "all"){
        $("#searchInput").removeAttr('disabled');
        if(val == "type"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Carro, Moto, ...");
        }
        else if(val == "brand"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Renault, Mazda, ...");
        }
        else if(val == "color"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Rojo, Azul, ...");
        }
        else if(val == "capacity"){
            $("#searchInput").attr('type', 'number');
            $("#searchInput").attr('min', 1);
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. 3, 4, ...");
        }
        else if(val == "date"){
            $("#searchInput").attr('type', 'date');
            $("#searchInput").val("");
        }
        else if(val == "cost"){
            $("#searchInput").attr('type', 'number');
            $("#searchInput").attr('min', 100);
            $("#searchInput").attr('step', 100);
            $("#searchInput").val("");
        $("#searchInput").attr("placeholder", "ej. 2000, 1500, ...");
        }
        else if(val == "keyWord"){
            $("#searchInput").attr('type', 'text');
            $("#searchInput").val("");
            $("#searchInput").attr("placeholder", "ej. Calle 45, Universidad, ...");
        }
    }
}



</script>