</br>
<p id="notice"><%= notice %></p>

<div class="container" style="background-color: rgba(0,0,0,0.7)">
  <div class="row">
    <div class="col-md-12 personal-info">
      <hr>
      <h3>Información de la ruta</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-lg-6">
            <label class="col-lg-6 control-label" style="text-align: left;"></br>Creador:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= User.find(@route.id_user).nick %>>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-3 control-label" style="text-align: left;"></br>Costo($):</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.cost %> >
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6" style="text-align: right;">
            <label class="col-lg-2 control-label" style="text-align: left;"></br>Título:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.title %>>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-2 control-label" style="text-align: left;"></br>Descripción:</label>
            <br></br>
            <textarea rows="2" class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center; width: 80%;" ><%= @route.description %></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label class="col-lg-3 control-label" style="text-align: left;"></br>Latitud origen:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.from_lat %>>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-4 control-label" style="text-align: left;"></br>Longitud origen:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.from_lng %> >
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label class="col-lg-3 control-label" style="text-align: left;"></br>Latitud destino:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.to_lat %>>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-4 control-label" style="text-align: left;"></br>Longitud destino:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.to_lng %> >
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label class="col-lg-6 control-label" style="text-align: left;"></br>Puntos de recorrido:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.waypoints %>>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-3 control-label" style="text-align: left;"></br>Salida:</label>
            <br></br>
            <input class="form-control" id='usernameRegister' type='text' readonly='true' style="text-align: center" value=<%= @route.departure %> >
          </div>
        </div>
              <hr>

        <div class="form-group">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <%= link_to routes_path do %>
              <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%;">Volver</button>
            <% end %>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%= link_to 'Back', routes_path %>
