</br>

<div class="container table" style="background-color: rgba(0,0,0,0.5); padding: 1%; width: 60%; overflow: auto;">
  <h1 style="color: white;">Mis rutas</h1>
  <p style="color: white;">Número de rutas: <%= @countRoutesFilter %></p>
  <% if @countMyRoutes >= 2 %>
    <div class="col-xs-12" style="text-align: center; padding: 0%;">
      <div class="col-xs-3" style="text-align: left; padding: 0%;">
      </div>
      <div class="col-xs-6" style="text-align: center; padding: 0%;">
        <form action="/usuario/mis-rutas" method="get">
          <div class="row">
            <%= image_tag("filter.png", alt: 'Filter', class: "mx-auto img-circle", style: "width: 7%;", title: "Realiza tus filtros") %>
            <%= select_tag(:filterSelect, options_for_select(
              [['Todo', "all"], 
              ['Tipo de vehículo', "type"], 
              ['Marca del vehículo', "brand"],
              ['Color del vehículo', "color"],
              ['Capacidad del vehículo', "capacity"],
              ['Fecha', "date"],
              ['Costo', "cost"],
              ['Palabra clave', "keyWord"]],
              params[:filterSelect]),
              { class: "btn dropdown-toggle bs-placeholder btn-default", id: "searchSelect", style: "width: 50%; font-size: 100%;", :onchange => "a();" }) %>
          </div>
          <div class="row" id="searchDiv">
            <button type="button" class="btn btn-link" id="btnRestart" style="color: black; font-size: 100%; padding-top: 3%;" onclick="restartSearch();">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <%= text_field_tag :search, params[:search], id: "searchInput", title: "Escribe tu búsqueda", style: "width: 50%; color: black;", disabled: true %>
            <%= submit_tag "Buscar", class: "btn btn-default", style: "background: lightgreen;" %>
            </br>
          </div>
        </form>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <br></br>
  <% end %>
  <table class="table table-striped table-bordered table-hover" id="myRoutesTable" style="border: solid gray; ">
    <thead style="background-color: #373a3c; color: white;">
      <tr>
        <th style="text-align:center;">Ruta</th>
        <th style="text-align:center;" colspan="3">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td style="text-align:left; color: black; padding-top: 1%; padding-left: 3%">
            <h2 style="text-align:left;"><%= route.title %></h1>
            <p><b>Descripción:</b> <%= route.description %></p>
            <p><b>Creado hace</b> <%= distance_of_time_in_words(route.created_at, Time.now) %></p>
          </td>
          <td style="text-align:center; color: black;">
            </br></br>
            <%= link_to 'Ver detalles', route %>
          </td>
          <td style="text-align:center; color: black;">
              </br></br>
              <%= link_to 'Eliminar', route, method: :delete, data: { confirm: '¿Estás seguro de eliminar esta ruta?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</br>

<div class="col-lg-3"></div>
<div class="col-lg-3">
  <%= link_to "/usuario/inicio" do %>
    <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Menú principal</button>
  <% end %>
</div>
<div class="col-lg-3">
  <%= link_to "/rutas" do %>
    <button id="submitRegister" class="btn btn-primary btn-lg" type='submit' display='inline-block' style="width: 100%; white-space: normal;">Otras rutas</button>
  <% end %>
</div>
<div class="col-lg-3"></div>

<p id="notice"><%= notice %></p>

<%= will_paginate @routes, 
  renderer: BootstrapPagination::Rails, 
  :previous_label => "Anterior",
  :next_label => "Siguiente" 
%>