</br>
<div class="container" style="background-color: rgba(0,0,0,0.5)">
  <h2 style="text-align: center;">Crear un nuevo vehículo</h2>
  <hr>
  <%= form_with(model: @car,local: true) do |f| %>
	  <% if car.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(car.errors.count, "error") %> No se pudo guardar el carro</h2>
        <ul>
          <% car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  	<div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <% if @car.image.present? == false %>
              <%= image_tag("default-car.jpg", width: '300', height: '300', class: 'image-circle') %>
            <% else %>
              <%= image_tag(@car.image, width: '300', height: '300', class: 'image-circle') %>
            <% end %>
            <em style="color: white; display: block;">Si deseas, cambia la foto de tu carro.</em>
  					<%= f.label :image, class: "carrier-wave-field" do %>
  					  <%= f.file_field :image %>
  		    		<%= f.hidden_field :image_cache %>
  		      <% end %>
          </div>
        </div>
        
        <div class="col-md-12 personal-info">
          <hr>
          <h3>Información del vehículo </h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Placa:</label>
                <br></br>
                <%= f.text_field :placa, class: "form-control", id: 'usernameRegister', autofocus: true, type: 'text', required: "", style: "height: auto; width: 60%; margin: 0 auto;" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Tipo:</label>
                <br></br>
                <%= f.select(:tipo, options_for_select(
                    [["Elige el tipo", ""], 
                      "Carro", 
                      "Moto"
                    ]),
                    { },
                    { 
                      id: 'usernameRegister',
                      class: "dropdown-toggle form-control ",
                      style: "height: auto; width: 60%; margin: 0 auto;"
                    }) %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Modelo:</label>
                <br></br>
                <%= f.text_field :modelo, class: "form-control", id: 'usernameRegister', autofocus: true, type: 'number', min: 1950, max: Time.current.year + 1, required: "" , style: "height: auto; width: 60%; margin: 0 auto;"%>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Marca:</label>
                <br></br>
                <%= f.text_field :marca, class: "form-control", id: 'usernameRegister', autofocus: true, type: 'text', required: "" , style: "height: auto; width: 60%; margin: 0 auto;"%>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Color:</label>
                <br></br>
                <%= f.text_field :color, class: "form-control", id: 'usernameRegister', autofocus: true, type: 'text', required: "" , style: "height: auto; width: 60%; margin: 0 auto;"%>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-lg-6">
                <label class="col-lg-2 control-label"></br>Capacidad:</label>
                <br></br>
                <%= f.text_field :capacidad, class: "form-control", id: 'usernameRegister', autofocus: true, type: 'number', min: 1, required: "" , style: "height: auto; width: 60%; margin: 0 auto;"%>
              </div>
            </div>
            
            <%= f.hidden_field :user_id, :value => current_user.id %>
            
            <div class="form-group">
              <div class="col-lg-1">
              </div>
              <br>
              
              <div class="col-lg-4">
                  <%= f.submit "Crear", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block'%>
              </div>
              <div class="col-lg-4">
                <%= link_to cars_path do %>
                  <%= f.submit "Cancelar", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block'%>
                <% end %>
              </div>

            </div>
          </form>
        </div>
    </div>
  <% end %>
  <hr>
</div>