<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, id: :car_placa %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :car_tipo %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :car_modelo %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :car_color %>
  </div>

  <div class="field">
    <%= form.label :capacidad %>
    <%= form.number_field :capacidad, id: :car_capacidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
