<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @app %></title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap core CSS -->
    <link src="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link url("vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template -->
    <link src="stylesheets/landing-page.css" rel="stylesheet">
    <link src="stylesheets/modalStyle.css" rel="stylesheet">
    <link src="stylesheets/login-register.css" rel="stylesheet">
    
  </head>
  
  <body style='color: black; background-image: url(/assets/background-user.jpg);'>
    <nav class="navbar navbar-inverse bg-light navbar-fixed-top" style="background-color: black;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="document.getElementById('myNavBar').style.display='inline-block'">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#" style="color: white;">RunApp</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/home">Usuarios</a></li>
            <li class="active"><a href="/admin/statistics">Estadísticas</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="width: 30%;">
            <% if current_user.avatar.present? == false %>
              <li>
                <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                  <%= image_tag("default-avatar.jpg", width: '30', height: '30', class: 'image-circle') %> -
                  <%= current_user.name %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                  <%= image_tag(current_user.avatar, width: '30', height: '30', class: 'image-circle') %> -
                  <%= current_user.name %>
                <% end %>
              </li>
            <% end %>
            <li> <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    
    <!-- Bootstrap core JavaScript -->
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/jquery/jquery.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/popper/popper.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
