<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @app %></title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap core CSS -->
    <link src="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link url("vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template -->
    <link src="stylesheets/landing-page.css" rel="stylesheet">
    <link src="stylesheets/modalStyle.css" rel="stylesheet">
    <link src="stylesheets/login-register.css" rel="stylesheet">
    <script type="text/javascript">
      function navBar(){
        if(document.getElementById('myNavBar').style.display == 'inline-block')
          document.getElementById('myNavBar').style.display = 'none';
        else
          document.getElementById('myNavBar').style.display='inline-block'
      }
    </script>
  </head>

  <body>

    <%= yield %>
    
    <!-- Bootstrap core JavaScript -->
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/jquery/jquery.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/popper/popper.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
