<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @app %></title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap core CSS -->
    <link src="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link url("vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template -->
    <link src="stylesheets/landing-page.css" rel="stylesheet">
    <link src="stylesheets/modalStyle.css" rel="stylesheet">
    
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-light navbar-fixed-top" style="background-color: black;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="document.getElementById('myNavBar').style.display='inline-block'">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/#" style="color: white;"><%= @app %></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">
          <ul class="nav navbar-nav">
            <li>
              <a class="nav-lin" href="/#servicios" style="color: white;">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#nosotros" style="color: white;">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contactenos" style="color: white;">Contáctanos</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="width: 30%;">
            <% if user_signed_in? %>
              <% if current_user.profile_image.nil? %>
                <li> 
                  <%= link_to current_user.name, edit_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li> <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
                <li><%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                      <%= image_tag(current_user.profile_image, width: '30', height: '30', class: 'image-circle') %> -
                      <%= current_user.name %>
                      <% end %>
                </li>
                <li> <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% end %>
            <% else %>
              <li class="nav-item" style="margin: 3%;"><button class="btn btn-success" id="btnLoginRegister" onclick="document.getElementById('myModal').style.display='block'">Entrar</button></li>
              <li class="nav-item" style="margin: 3%;"><button class="btn btn-primary" id="btnLoginRegister" onclick="document.getElementById('myModal2').style.display='block'">Registrarme</button></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <h2 style="text-align: center;">Editar perfil</h2>
  	    <hr>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	        <em style="color: red;"><%= devise_error_messages! %></em>
  	      <div class="row">
            <div class="col-md-3">
              <div class="text-center">
                <%= image_tag(current_user.avatar, width: '250', height: '250', class: 'image-circle') %>
                <em style="color: white; display: block;">Si deseas, cambia tu foto de perfil.</em>
      					<%= f.label :avatar, class: "carrier-wave-field" do %>
      					  <%= f.file_field :avatar %>
      		    		<%= f.hidden_field :avatar_cache %>
      		      <% end %>
              </div>
            </div>
            <div class="col-md-9 personal-info">
              <h3>Información personal</h3>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label"></br>Nick:</label>
                    <%= f.text_field :nick, class: "form-control", id: 'usernameRegister', value: current_user.nick, autofocus: true, type: 'text', readonly: true, required: "" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label"></br>Nombre:</label>
                    <%= f.text_field :name, class: "form-control", id: 'usernameRegister', value: current_user.name, autofocus: true, type: 'text', required: "" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label"></br>Carrera:</label>
                    <%= f.text_field :career, class: "form-control", id: 'usernameRegister', value: current_user.career, autofocus: true, type: 'text', required: "" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label">Fecha de nacimiento:</label>
                    <%= f.text_field :date_of_birth, class: "form-control", id: 'usernameRegister', value: current_user.date_of_birth, autofocus: true, type: 'text', required: "" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-12 control-label">Para cambiar tu contraseña, llena los siguientes espacios. <i>(Déjalo en blanco si no quieres cambiarla.)</label> </br>
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label">Nueva contraseña:</label>
                    <%= f.password_field :password, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
    			        	<% if @minimum_password_length %>
    			        	  <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label">Confirmar nueva contraseña:</label>
                    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-12 control-label">Para confirmar tus cambios, ingresa tu contraseña actual.</label> </br>
                  <div class="col-lg-12">
                    <label class="col-lg-2 control-label">Contraseña actual:</label>
                    <%= f.password_field :current_password, class: "form-control", autocomplete: "off", type: 'password', id: 'passwordRegister' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3">
                  </div>
                  <div class="col-lg-3">
                    <%= f.submit "Guardar", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block', style: "width: 100%;" %>
                  </div>
                  <div class="col-lg-3">
                    <%= link_to "/" do %>
                      <%= f.submit "Cancelar", id: "submitRegister", class: "btn btn-primary btn-lg", type: 'submit', display: 'inline-block', style: "width: 100%;" %>
                    <% end %>
                  </div>
                  <div class="col-lg-3">
                  </div>
                </div>
              </form>
            </div>
        </div>
      <% end %>
      <hr>
      <h3>Eliminar cuenta</h3>
      <p>¿Estás inconforme con RunApp? En el siguiente botón podrás eliminar tu cuenta. 
        <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete,  id: "submitRegister", class: "btn btn-primary", style: "width: 12em; font-size: 1em;" %>
      </p>
      <div class="alert alert-warning alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        <strong>¡Atención!</strong> Si eliminas tu cuenta se perderán todos tus datos.
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript -->
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/jquery/jquery.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/popper/popper.min.js"></script>
    <script href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
